@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.imgBackground{
    height: 100vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/0552717c-9d8c-47bd-9640-4f4efa2de663/537e2c5e-c750-4d4c-9f7a-e66fe93eb977/IN-en-20240701-POP_SIGNUP_TWO_WEEKS-perspective_WEB_b00eeb83-a7e8-4b5b-8ff7-86ed92c51caf_large.jpg);
}

#start:active{
    transform: scale(0.9);
}

 .box{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}

.main {
    height: 100vh;
    top: 100%;
}

nav {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    position: relative;
    z-index: 3;
}

nav img{
     color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav buttons{
    position: relative;
    z-index: 10;
}

.navRight button {
    height: 30px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}

#Lang {
    width: 110px;
    margin-right: 20px;
    background-color: transparent;
    border: 1px solid;
}

#Login {
    background-color: #e50914;
    width: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 180px;
    position: relative;
    opacity: 1;
}

.content p:first-child {
    font-weight: 900;
    font-size: 48px;
    margin: 13px;
    color: white;
}

.content p:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    margin: 13px;
    color: white;
}

.content p:nth-child(3) {
    font-size: 20px;
    font-weight: 500;
    margin: 13px;
    color: white;
}

.contentButton{
    display: flex;
    align-items: center;
    gap: 7px;
}

.contentButton button {
    height: 50px;
    border: none;
    border-radius: 5px;
}

.contentButton button:first-child{
    border: 1px solid white;
        background-color: #0f0f0f;
        width: 350px;
        font-weight: 400;
        font-size: 16px;
        color: white;
        text-align: left;
        padding-left: 25px;
    }

.contentButton button:nth-child(2) {
    width: 230px;
    background-color: #e50914;
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.blank {
    background-color: #232323;
    height: 8px;
    position: relative;
    z-index: 1;
}

.main2 {
    display: flex;
    height: 84vh;
    background-color: black;
}

.gallery{
    position: relative;
}

.gallery img{
    position: absolute;
    transform: translateY(-20%);
    z-index: 1;
}

.gallery video{
    transform: translateX(75px);
}

.maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    width: 80%;
    margin: auto;
}

.maincontent p:first-child{
font-size: 48px;
font-weight: 900;
color: white;
}

.maincontent p:nth-child(2){
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.left{
    background-color: black;
    width: 50%;
}

.right{
    background-color: black;
    width: 50%;
}

.main3 {
    display: flex;
    height: 84vh;
    background-color: black;
}

.main4 {
    height: 84vh;
    background-color: black;
}

.main4 img{
    position: absolute;
   
    margin-left: 45px;
    z-index: 1;
}

.main4 video{
    position: relative;
    top: 35px;
    left: 140px;
}

.main5 {
    height: 84vh;
    background-color: black;
}

.main6 {
    height: 135vh;
    background-color: black;
}

#Question{
    padding-top: 63px;
    padding-bottom: 25px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 48px;
}

.questions{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin: auto;
    width: 80%;
}

.que{
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    font-weight: 400;
    font-size: 26px;
    width: 90%;
    height: 70px;
    color: white;
    padding-top: 20px;
    padding-left: 23px;
}

.que p:nth-child(2){
    position: relative;
    bottom: 23px;
    text-align: center;
    right: 23px;
    z-index: 2;
    font-weight: 10;
    font-size: 80px;
    font-family:  "Montserrat", sans-serif;
    padding-bottom: 10px;
}

.questions :hover{
    background-color: #454141;
    cursor: pointer;
}

.membership{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.membership p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 23px;
}

.main7{
    height: 50vh;
    background-color: black;
    color: 
    rgba(255, 255, 255, 0.7);
    padding-left: 170px;
    padding-top: 60px;
}

.services{
    display: flex;
    gap: 193px;
    line-height: 35px;
    list-style: none;
    padding-top: 25px;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
}

.main7 button{
    margin-top: 20px;
    height: 30px;
    width: 120px;
    background-color: transparent;
    border: 1px solid 
    rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
} 
